h4{
    display: inline;
    padding: 20px;
}

h6{
    display: inline;
    padding: 20px;
}
#sixHours, #twentyFourHours{
    background-color: #dca03f;
}
#refreshLatest{
    background-color: #2979ff;
}